<template name="playerEdit">
	<form class="main">

		<div class="control-group">
			<label class="control-label" for="alias">Alias</label>
			<div class="controls">
				<input name="alias" type="text" value="{{alias}}" placeholder="alias"/>
			</div>
		</div>


		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input name="name" type="text" value="{{name}}" placeholder="name"/>
			</div>
		</div>


		<div class="control-group">
			<label class="control-label" for="race">Race</label>
			<div class="controls">
				<input name="race" type="text" value="{{race}}" placeholder="race"/>
			</div>
		</div>

		<hr />



		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary submit" />
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<a class="btn btn-danger delete" href="#">Delete Player</a>
			</div>
		</div>


	</form>
</template>