<template name="feedback">

<div class="page-header">
			<h1>
				<small>
					Send us your feedback		
				</small>
			</h1>
		<div class="alert alert-success" role="alert">
			<p>	
				Feature requests, constructive criticism or bug reports are much  appreciated, and will most likely be 
				implemented or fixed in a few days. Thank you in advance!
			</p>
		 </div>
	</div>
 
	<div class="row">
		<div class="contactmode md-col-12 text-center">
			To contact SC2Talk, use one of the following options:
		</div>
	</div>

<div class="row contactcontainer">
  <div class="col-xs-6 col-sm-3"></div>
  <div class="col-xs-6 col-sm-3">
  	<div class="panel panel-default">
		<div class="panel-heading"><strong>Tweet at us</strong></div>
		  <div class="panel-body">
		    <a href="https://twitter.com/sc2talk" target="_blank" ><i class="fa fa-twitter"></i> SC2Talk on Twitter</a> 
		  </div>
		</div>
  </div>
  <div class="col-xs-6 col-sm-3">
		<div class="panel panel-default">
		  <div class="panel-heading"><strong>Send us an E-mail</strong></div>
		  <div class="panel-body">
		    <a href="mailto:feedback@sc2talk.com?Subject=feedback" target="_blank"><i class="fa fa-paper-plane"></i> Email SC2Talk</a>
		  </div>
		</div>
  </div>
  <div class="col-xs-6 col-sm-3"></div>
</div>

	
</template>