<template name="feedback">

<div class="page-header">
			<h1>
				<small>
					Send us your feedback		
				</small>
			</h1>
		<div class="alert alert-success" role="alert">
			<p>
				<strong>
					Use the form below to tell us what you think! (or tweet to us here: ___ )
				</strong>
			</p>
			<p>	
				Feature requests, constructive criticism or bug reports are much  appreciated, and will most likely be 
				implemented or fixed in a few days. Thank you in advance!
			</p>
		 </div>
	</div>

	<form class="main">

	</form>
</template>