<template name="searchFiltersPlaypal">  
	<h3>Filters chosen</h3>
	<div >    
		{{#if isEmpty}}
			None - show all
		{{/if}}
		
		{{#unless isEmpty}}

			<strong> By race: </strong> {{playpalRaceFilter}}
			<br />
			<strong> From servers: </strong> {{playpalServerFilter}}
			<br />
			<strong> Only leagues: </strong> {{playpalLeagueFilter}}
			<br />
			<br />
			<input id="removeFilters" type="button" class="btn btn-default btn-sm" value="Remove all filters" />
		{{/unless}}		
	</div> 
</template>


