/* CSS declarations go here */
body { 
    padding-top: 20px; 
}

.topbarSubmit
{
	margin-right: 30px;
}

textarea {
    resize: none;
    height:150px;
    width:400px;
}

.nodePlaypal {
  opacity: 0.5;
  cursor:pointer; cursor:hand;
}

.nodePlaypal:hover {
  opacity: 1;
}

.topBarSearchListElement 
{
	color: black ;
}

.-autocomplete-item.selected 
{
	background-color: lightgray;
	cursor: pointer; cursor: hand;
}

#topBarSearchText
{
	width: 250px;
	font-size: small;
}

.pageNotFoundContainer
{
    position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;

}