/* CSS declarations go here */
body { 
    padding-top: 65px; 
}

.topbarSubmit
{
	margin-right: 30px;
}

textarea {
    resize: none;
    height:150px;
    width:400px;
}

.nodePlaypal {
  opacity: 0.5;
  cursor:pointer; cursor:hand;
}

.nodePlaypal:hover {
  opacity: 1;
}