<template name="allStrategies">

	<div id="learnFilter" class="container-fluid">
						
				   		<div class="span2">
							<strong>Filter by Race</strong>
								{{#each allRaces}}      
									{{> checkboxListItemLearn}}
								{{/each}}  
						</div>

						<div class="span2">
							<strong>Best used against</strong>
								{{#each allBestAgainst}}      
									{{> checkboxListItemLearnBestAgainst}}
								{{/each}}  
						</div>

						<div class="alert alert-info span6">
							{{> searchFiltersLearn}}
						</div>

						<div id="resultsVisualizer"></div>
	</div>

	<table id="tblAllStrategies" cellspacing="0" width="100%" class="display compact cell-border">
		<thead>
			{{> strategyContainerHeaders}}
		</thead>
		<tfoot>
			{{> strategyContainerHeaders}}
		</tfoot>
	</table>

</template>


<template name="strategyContainerHeaders">
	<tr>
		<th>Name</th>
		<th>For Race</th>
		<th>Best Used Against</th>
		<th>Liquipedia</th>
		<th>Video</th>
	</tr>
</template>



