<template name="playpalEdit">
	<div class="page-header">
			<h1>
				<small>
					Edit your playpal profile
				</small>
			</h1>
		<div class="alert alert-success" role="alert">You can change your profile as desired here (for example if you advanced in a new league you might wish
		to show that by adjusting your league)</div>
	</div>

	<form class="main">

		<div class="control-group">
			<label class="control-label">Server</label>
				{{> allServers}}
		</div>


		<div class="control-group">
			<label class="control-label" for="bnetid">Battle.net ID</label>
			<div class="controls">
				<input name="bnetid" type="text" value="{{bnetid}}" placeholder="Bnetid"/>
			</div>
		</div>


		<div class="control-group">
			<label class="control-label">Race</label>
				{{> allRaces}}
		</div>


		<div class="control-group">
			<label class="control-label" for="profileurl">Profile URL</label>
			<div class="controls">
				<input name="profileurl" type="text" value="{{profileurl}}" placeholder="Profile URL"/>
			</div>
		</div>


		<div class="control-group">
			<label class="control-label">League</label>
				{{> allLeagues}}
		</div>


		<div class="control-group">
			<label class="control-label" for="comment">Comment</label>
			<div class="controls">
				<textarea name="comment" placeholder="Comment">{{comment}}</textarea>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="submitted">Added On</label>
			<div class="controls">
				<input name="submitted" type="text" value="{{readableDate submitted}}" placeholder="Date Added" readonly="readonly"/>
			</div>
		</div>

		<hr />

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Modify your profile" class="btn btn-primary submit" />
			</div>
		</div>

	</form>
</template>