<template name="allPlaypals">  
	<div class="page-header">
			<h1>
				<small>
					Search for a Starcraft practice partner
				</small>
			</h1>
		<div class="alert alert-success" role="alert">Explanation about this page goes here</div>
	</div>
	
	{{#if currentUser}}
		<div class="alert alert-info playpalOwnContainer">
		<h3>Your profile</h3>
			{{#with ownPlaypal}} 
				{{> playpal}}    
				
					<a href="{{pathFor 'playpalEdit'}}" class="btn btn-default btn-sm">Modify your profile</a>
					<a id="btnRemoveMyPlaypalProfile" class="btn btn-default btn-sm">Remove your profile</a>
				
			{{/with}} 

			{{#unless ownPlaypal}}
			<p>People don't know about you yet; click below to add your profile to the list of available players.</p>
				<a href="{{pathFor 'playpalSubmit'}}" class="btn btn-default btn-sm">Add yourself to list</a>
			{{/unless}}	
		</div>
		
			<div id="playpalFilter" class="container">
					
					<div class="col-md-2">
						<strong>Filter by Server</strong>
							{{#each allServers}}      
								{{> checkboxListItemPlaypal}}
							{{/each}}  
						
					</div>
					
					<div class="col-md-2">
						<strong>Filter by League</strong>
							{{#each allLeagues}}      
								{{> checkboxListItemPlaypal}}
							{{/each}}  
						
			   		</div>

			   		<div class="col-md-2">
						<strong>Filter by Race</strong>
							{{#each allRaces}}      
								{{> checkboxListItemPlaypal}}
							{{/each}}  
					</div>

					<div class="alert alert-info col-md-6">
							{{> searchFiltersPlaypal}}
					</div>

					<div id="resultsVisualizer"></div>
			</div>
	{{/if}}
</template>
	