<template name="allPlaypals">  
	<div class="page-header">
			<h1>
				<small>
					Search for a Starcraft practice partner
				</small>
			</h1>
		<div class="alert alert-success" role="alert">Explanation about this page goes here</div>
	</div>
	
	{{#if currentUser}}
		<div class="alert alert-info">
		<h3>Your profile</h3>
			{{#with ownPlaypal}} 
				{{> playpal}}    
				
					<a href="{{pathFor 'playpalEdit'}}" class="btn btn-small">Modify your profile</a>
				
			{{/with}} 

			{{#unless ownPlaypal}}
			<p>People don't know about you yet; click below to add your profile to the list of available players.</p>
				<a href="{{pathFor 'playpalSubmit'}}" class="btn btn-lg">Add yourself to list</a>
			{{/unless}}	
		</div>
	
			<!-- put me in a nice panel -->
		
			<div id="playpalFilter" class="container-fluid">
					
					<div class="span2">
						<strong>Filter by Server</strong>
							{{#each allServers}}      
								{{> checkboxListItemPlaypal}}
							{{/each}}  
						
					</div>
					
					<div class="span2">
						<strong>Filter by League</strong>
							{{#each allLeagues}}      
								{{> checkboxListItemPlaypal}}
							{{/each}}  
						
			   		</div>

			   		<div class="span2">
						<strong>Filter by Race</strong>
							{{#each allRaces}}      
								{{> checkboxListItemPlaypal}}
							{{/each}}  
					</div>

					<div class="alert alert-info span6">
							{{> searchFiltersPlaypal}}
					</div>

					<div id="resultsVisualizer"></div>
			</div>
		

			

		<!--<div>    
			{{#each allPlaypals}}      
				{{> playpal}}    
			{{/each}}  
		</div> -->

		
	
	{{/if}}
</template>
	