<template name="allPlaypals">  
	<div class="page-header">
			<h1>
				<small>
					Search for a Starcraft practice partner
				</small>
			</h1>
		<div class="alert alert-success" role="alert">Explanation about this page goes here</div>
	</div>
	
	{{#if currentUser}}
		<div class="alert alert-info playpalOwnContainer">
		<h3>Your profile</h3>
			{{#with ownPlaypal}} 
				{{> playpal}}    
				
					<a href="{{pathFor 'playpalEdit'}}" class="btn btn-default btn-sm">Modify your profile</a>
					<a id="btnRemoveMyPlaypalProfile" class="btn btn-default btn-sm">Remove your profile</a>
				
			{{/with}} 

			{{#unless ownPlaypal}}
			<p>People don't know about you yet; click below to add your profile to the list of available players.</p>
				<a href="{{pathFor 'playpalSubmit'}}" class="btn btn-default btn-sm">Add yourself to list</a>
			{{/unless}}	
		</div>
		
			<div id="playpalFilter" class="container">
					<div class="container">
						<div class="col-md-2">
							<strong>Filter by Server</strong>
								{{#each allServers}}      
									{{> checkboxListItemPlaypal}}
								{{/each}}  
							
						</div>
						
						<div class="col-md-2">
							<strong>Filter by League</strong>
								{{#each allLeagues}}      
									{{> checkboxListItemPlaypal}}
								{{/each}}  
							
				   		</div>

				   		<div class="col-md-2">
							<strong>Filter by Race</strong>
								{{#each allRaces}}      
									{{> checkboxListItemPlaypal}}
								{{/each}}  
						</div>

						<div class="col-md-6">
								{{> searchFiltersPlaypal}}
						</div>
					</div>	

					<div class="row alert alert-info">
						<div class="col-md-2"></div>
							<div class="col-md-8">
								<div class="row playpalTimeSelectorContainer">
									<div class="col-md-1">
										<i class="btnBackwardMonth fa fa-chevron-left"></i>
									</div>
									<div class="col-md-8 text-center">
										<div class="monthSelectorContainer">
											<input id="playpalMonthSelector" type="text" readonly="readonly" />
											
											Players registered in 
											<label id="monthYearSelected"></label>
										</div>		
									</div>
									<div class="col-md-1">
										<i class="btnForwardMonth fa fa-chevron-right"></i>
									</div>
								</div>
							</div>
						<div class="col-md-2"></div>
					</div>

					
					<div class="row">
						<div class="col-md-2 text-center">
							<!--<i class="btnBackwardLimit fa fa-caret-left"></i>-->
						</div>
						<div class="col-md-8">
							<div id="resultsVisualizer"></div>
						</div>
						<div class="col-md-2 text-center">
							<!--<i class="btnForwardLimit fa fa-caret-right"></i>-->
						</div>
					</div>
			</div>
	{{/if}}
</template>
	