
<template name="selectedEvents">
	
		<div class="text-center">
			<h5>Events scheduled for <strong>{{readableMomentDate param}}</strong>:</h5>
		</div>
	

	<table class="table table-bordered">
		
		<tbody>
			{{#each selectedEvents param}}  
				{{> selectedEvent}}

			{{else}}{{> emptySelectedEventsTable}}
			{{/each}}	
		</tbody>
	</table>
</template>


<template name="selectedEvent">
	<tr>
		<td>
			<div class="text-center"><a title="click to see details for {{title}}" href="{{pathFor 'event' _id=this._id}}">{{title}}</a></div>
		</td>
	</tr>
</template>



<template name="emptySelectedEventsTable">
	<tr>
		<td class="text-center">
			None. Click <a class="btn btn-default btn-xs" href="{{pathFor 'eventSubmit'}}">here</a> to add one.
		 </td>
	</tr>
</template>
