div#eventCalendar .ui-datepicker{
 font-size:20px;
}

.busyEventDay .ui-state-default
{
	/*change me dynamically when loading calendar*/
	background: #d6e9c6;
	
}

#upcomingEventsTable
{
	font-size: x-small;
}

#upcomingEventsTable .EventName
{
	/*width: 50%;*/
}

.panel-heading
{
	text-align: center;
}

.eventSubmitForm #startTime,
.eventSubmitForm #endTime
{
	width: 100px;
}

.eventSubmitForm #startDate,
.eventSubmitForm #endDate
{
	width: 120px;
}

.eventSubmitForm #streamLink,
.eventSubmitForm #title
{
	width: 394px;
}

#eventCountdownContainer{
	font-size: xx-large;
}

#selectedEventsContainer{
	margin-top: 20px;
}

.tblEventDetails .bigRow{
	font-size: x-large;
}

.tblEventDetails .smallRow{
	font-size: x-small;
}

.tblEventDetails .streamLink{
	cursor: pointer; cursor: hand; 
}