div#eventCalendar .ui-datepicker{
 font-size:20px;
}

.busyEventDay .ui-state-default
{
	/*change me dynamically when loading calendar
	background: #d6e9c6;*/
	
}

#upcomingEventsTable
{
	font-size: x-small;
}

.panel-heading
{
	text-align: center;
}