div#eventCalendar .ui-datepicker{
 font-size:20px;
}

.busyEventDay .ui-state-default
{

	background: rgb(92,216,43, 0.3); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(92,216,43,0.3) 0%, rgba(247,27,27,0.3) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,216,43,0.3)), color-stop(50%,rgba(247,27,27,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(92,216,43,0.3) 0%,rgba(247,27,27,0.3) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(92,216,43,0.3) 0%,rgba(247,27,27,0.3) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(92,216,43,0.3) 0%,rgba(247,27,27,0.3) 50%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(92,216,43,0.3) 0%,rgba(247,27,27,0.3) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cd82b', endColorstr='#f71b1b',GradientType=0 ); /* IE6-9 */
}

.freeEventDay
{
	background-color: green;
}