<template name="event">
	<div class="page-header">
			<h1>
				<small>
					Event: <strong>{{title}}</strong>
				</small>
			</h1>
	</div>

	<div class="alert alert-success text-center">
		<span class="eventCountdownHeader">Remaining until start:</span>	
		<div id="eventCountdownContainer" role="alert">
			<strong>{{countDownUntilDate startDate endDate "eventCountdownContainer"}}</strong>
		</div>
	</div>

	<div class="row">

		<div class="col-md-12">
			<p class="bg-info text-center">Exact start date and time in all timezones</p>
		</div>

		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					EDT (Washington, New York)
				</div>
				<div class="panel-body">	
					<strong>{{convertUTCDateToReadableFormatInUserTimezone startDate "America/New_York"}}</strong>
				</div>
			</div>
		</div>	
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					CEST/CET (Berlin, Madrid)
				</div>
				<div class="panel-body">	
					<strong>{{convertUTCDateToReadableFormatInUserTimezone startDate "Europe/Berlin"}}</strong>
				</div>
			</div>
		</div>	
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					KST (Seoul, Busan)
				</div>
				<div class="panel-body">	
					<strong>{{convertUTCDateToReadableFormatInUserTimezone startDate "Asia/Seoul"}}</strong>
				</div>
			</div>
		</div>	
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					CST (Shanghai, Taipei)
				</div>
				<div class="panel-body">	
					<strong>{{convertUTCDateToReadableFormatInUserTimezone startDate "Asia/Shanghai"}}</strong>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<img src="{{imageUrl}}" />
		</div>
		<div class="col-md-12">
			<table class="table table-hover text-center tblEventDetails">
 				<thead></thead>
 				<tbody>
 				 	<tr class="bigRow">
 				 		<td><strong>Starts On</strong>:	{{convertUTCDateToReadableFormatInUserTimezone startDate timezone}}</td>
 				 	</tr>
 				 	<tr class="bigRow">
 				 		<td><strong>Ends On</strong>:	{{convertUTCDateToReadableFormatInUserTimezone endDate timezone}}</td>
 				 	</tr>
 				 	<tr class="bigRow streamLink">
 				 		<td><strong>Streamed at</strong>: <a href="{{streamLink}}" title="visit stream" target="_blank">Visit Stream</a></td>
 				 	</tr>
 				 	<tr>
 				 		<td>{{comment}}</td>
 				 	</tr>
 				 	<tr class="smallRow">
 				 		<td><strong>Submitted By</strong>:	{{submitterTwitter}}</td>
 				 	</tr>
 				 	<tr class="smallRow">
 				 		<td><strong>Entered On</strong>:	{{convertUTCDateToReadableFormatInUserTimezone submitted timezone}}</td>
 				 	</tr>
 				</tbody>
			</table>
		</div>
	</div>
</template>
