<template name="allEvents">
	<div class="page-header">
			<h1>
				<small>
					Create and manage events, see events
				</small>
			</h1>
		<div class="alert alert-success" role="alert">Explanation about this page goes here</div>
	</div>

	<div id="eventCalendar"></div>

</template>




<template name="eventSubmit">
	<div class="page-header">
			<h1>
				<small>
					Create and manage events, see events
				</small>
			</h1>
		<div class="alert alert-success" role="alert">Explanation about this page goes here</div>
	</div>

<label for="from">From</label>
	<input type="text" id="from" name="from">
	<label for="to">to</label>
	<input type="text" id="to" name="to">
</template>